.submit-btn {
    display: block;
    margin: 0 auto;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid $color-header;
    outline: none;
    background-color: $color-header;
    font-family: 'Lato', sans-serif;
    color: #fafafa;
    cursor: pointer;
    transition: all .4s ease-in-out;
    &:hover {
        background-color: $color-white;
        color: $color-header;
    }
}
.cta {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    transition: all .3s;
    .demo {
        padding: 1rem 2rem;
        color: $color-white;
        margin: 1rem;
        font-size: 1.6rem;
        background-color: $color-black;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
    .code {
        padding: 1rem 2rem;
        color: $color-white;
        margin: 1rem;
        font-size: 1.6rem;
        background-color: $color-black;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
    }
}

.btn-wrapper {
    text-align: center;
}

.cta-top {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.scroll {
    display: block;
    height: 4rem;
    width: 2.6rem;
    border: 2px solid #efefef;
    border-radius: 1.4rem;
    position: relative;
    .dot {
        display: block;
        width: 6px;
        height: 6px;
        background-color: #efefef;
        border-radius: 50%;
        @include absCenter;
    }
}

.btn-group {
    text-align: center;
}