#contact-form {
    width: 100%;
    height: auto;
}
.input-field {
    width: 100%;
    padding: 8px 16px;
    color: #232323;
    border: 1px solid #ddd;
    outline: none;
}

input {
    height: 5rem;
}
textarea {
    height: 20rem;
    padding-top: 5rem;
    resize: none;
}

.input-wrapper {
    margin-bottom: 3rem;
}