.about {
    height: 50rem;
    width: 100%;

    &__text {
        width: 40%;
        height: 10rem;
        margin-left: 8rem;
        margin-top: 10rem;
        h1 {
            font-size: 3rem;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: $color-header;
        }
        p {
            font-size: 2rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            line-height: 2.6rem;
            margin-top: 5rem;
            color: $color-text;
        }
        @include respond(tab-port) {
            margin-left: 4rem;
            margin-top: 3rem;
            width: 60%;
        }
        @include respond(phone) {
            margin-left: 2rem;
            margin-top: 2rem;
            width: 90%;
        }
    }
    &__social {
        height: 5rem;
        width: 40%;
        position: relative;
        top: 15rem;
        left: 7rem;
        ul {
            list-style: none;
            li {
                margin: 1rem;
                display: inline-block;
                text-align:center;
                font-size: 3rem;
                a {
                    color:#000;
                    transition: .3s all;
                    padding: 1.2rem 2rem;
                    border: 1px solid #000;
                    border-radius: 50%;
                    transition: all .4s;
                    &:hover {
                        color:#fff;
                        background-color: #000;
                    }
                }
            }
        }
        @include respond(tab-port) {
            top:22rem;
            width: 90%;

        }
        @include respond(phone) {
            margin-top: 2rem;
            width: 100%;
            left: 4rem;
        }
    }
}

.service {
    width: 100%;
    height: auto;
    background-color: $color-service;
    .section-title {
        text-align: center;
        h2 {
            font-size: 3.6rem;
            color: $color-header;
            font-family: 'Lato', sans-serif;
            padding-top: 7rem;
            position: relative;

        }
        .title::after {
            display: block;
            content: '';
            width: 5rem;
            height: 3px;
            background: $color-header;
            position: absolute;
            bottom: -5px;
            left: 43.5%;
        }
    }
}

#work {
    width: 100%;
    .section-title {
        text-align: center;
        h2 {
            font-size: 3.6rem;
            color: $color-header;
            font-family: 'Lato', sans-serif;
            padding-top: 7rem;
            position: relative;
        }
        .title::after {
            display: block;
            content: '';
            width: 5rem;
            height: 3px;
            background: $color-header;
            position: absolute;
            bottom: -5px;
            left: 43.5%;
        }
    }

    .container {
        padding-top: 7rem;
    }
}

#contact {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 4rem;
    .section-title {
        text-align: center;
        h2 {
            font-size: 3.6rem;
            color: $color-header;
            font-family: 'Lato', sans-serif;
            padding-top: 7rem;
            position: relative;
        }
        .title::after {
            display: block;
            content: '';
            width: 5rem;
            height: 3px;
            background: $color-header;
            position: absolute;
            bottom: -5px;
            left: 43.5%;
        }
    }
}