.about__header {
    font-size: 3rem;
    font-weight: 700;
    color: $color-header;
    font-family: $font-primary;
}
.about__text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-top: 5rem;
    color: $color-text;
    font-family: $font-primary;
}