*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #fff; }

.content__text {
  font-size: 2rem;
  color: #000; }

.text-wrapper {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.heading-primary {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 6rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 6rem; }

.fa {
  font-size: 2rem;
  margin-right: 1rem; }

.white {
  color: #fff; }

.slider {
  height: 40rem;
  width: 100%; }

.slide {
  position: relative; }

.slider-img img {
  height: 40rem;
  width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%); }

.slider-img__small img {
  height: 40rem;
  width: 100%; }

.slider-fade {
  height: 40rem;
  width: 100%; }

.brand-slider {
  padding: 3rem 0;
  width: 100%;
  height: 10rem;
  margin-top: 3rem; }

.brand img {
  height: 10rem;
  width: 100%;
  padding: 1rem; }

.brand {
  padding: 1rem; }

.content {
  margin: 0 auto; }

.img-wrapper {
  text-align: left;
  margin-top: 5rem; }

.contact {
  margin-bottom: 5rem;
  width: 100%;
  height: 67rem; }

.card {
  margin: 1rem; }

.service__list {
  margin-left: 9rem; }

.list-item {
  font-size: 1.4rem; }

.address-list {
  list-style-type: none; }

.address-list li {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400; }

.contact-list {
  list-style-type: none;
  margin-top: 5rem; }
  .contact-list li {
    font-size: 2rem;
    margin-bottom: 1rem; }

input[type=text],
input[type=email] {
  height: 4rem;
  width: 100%;
  font-size: 1.6rem; }

input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

input[type=text]::-ms-input-placeholder,
input[type=email]::-ms-input-placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

input[type=text]::placeholder,
input[type=email]::placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

label {
  font-size: 1.6rem; }

textarea[name=message] {
  width: 100%;
  height: 12rem;
  font-size: 1.6rem; }

textarea::-webkit-input-placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

textarea:-ms-input-placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

textarea::-ms-input-placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

textarea::placeholder {
  font-size: 1.6rem;
  padding: .5rem; }

button[type=submit] {
  padding: 1.5rem 3rem;
  font-size: 1.6rem; }

.logo-img img {
  padding: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.header-primary {
  text-align: center;
  font-size: 3rem; }

.navigation {
  width: 100%;
  height: 10rem;
  background-color: #292928;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.nav-list {
  list-style-type: none;
  text-align: center; }

a.link {
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  padding: 3rem; }
  a.link:hover {
    background-color: #fff;
    color: #000; }

a.nav-link {
  text-decoration: none;
  color: #000;
  padding: 1rem;
  font-size: 1.6rem; }

.nav-list li {
  margin-top: 3.5rem;
  display: inline-block;
  font-size: 2rem !important;
  text-transform: uppercase; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  -webkit-box-shadow: 5px 5px 10px #333;
          box-shadow: 5px 5px 10px #333; }

.nav-tabs .tab-1 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-2 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-3 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-4 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-5 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-6 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-7 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-8 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-9 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.nav-tabs .tab-10 .nav-link.active {
  background-color: #292928;
  color: #fff; }

.footer {
  width: 100%;
  height: 7rem;
  background-color: #292928; }

.footer-inner {
  text-align: left;
  padding: 2rem;
  margin-left: 5rem; }

.footer-text {
  color: #c4c4c4;
  font-size: 2rem;
  font-family: 'Roboto' sans-serif;
  font-weight: 300; }
