#footer {
    height: 25rem;
    background-color: $color-footer;

}

.footer__inner {
    text-align: center;
    padding: 3rem;
}

.footer__logo {
    text-align: center;
    img {
        height: 7rem;
        width: 7rem;

    }
}

.footer__social {
    text-align: center;
    .social-list {
        list-style: none;
        li {
            display: inline-block;
            margin: 1rem;
            a{
                color: $color-text;
                font-size: 2.5rem;
            }

        }
    }
}

.footer__text {
    text-align: center;
    p {
        font-size: 1.8rem;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        line-height: 2.6rem;
        letter-spacing: 1px;
        color: $color-text;
    }
}