.section-list {
    list-style-type: circle;
    margin-top: 2rem;
    width: 70%;
    @include respond(tab-port) {
        margin: 0 auto;
    }

    @include respond(phone) {
        margin: 0 auto;
    }
}

.section-list > li {
    text-align: center;
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: left;
    margin-left: 5rem;
    font-family: 'Roboto', sans-serif;
}

.contact-list {
    list-style-type: none;
    margin-top: 2rem;
    font-family: 'Roboto', sans-serif;
}

.tariff-list {
    list-style-type: circle;
    font-family: 'Roboto', sans-serif;
}

.tariff-list li {
    line-height: 1.5;
    font-size: 1.6rem;
    text-align: left;
    margin-left: 5rem;
    font-family: 'Roboto', sans-serif;
}

