.section-list {
    list-style-type: none;
    margin-top: 2rem;
}

.section-list li {
    text-align: center;
    line-height: 1.5;
    font-size: 1.4rem;
    text-align: left;
    margin-left: 5rem;

}

.contact-list {
    list-style-type: none;
    margin-top: 2rem;
}