.navigation-menu {
    width: 100%;
    height: 12rem;
    border-bottom: 1px solid $color-border;
}

.navigation-menu .logo-text {
    color: $color-black;
}

.section-menu a {
    color: $color-black;
    font-weight: 700;
}

