nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.navigation {
    background-color: $color-header;
    height: 10rem;
    transition: box-shadow .2s;
}

.navigation-menu {
    background-color: $color-white;
    transition: box-shadow .2s;
}

.shadow {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.logo {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 3rem; 
    padding: 0 1rem;
    margin-top: 4rem;
}

.logo-text {
    color: $color-white;
    font-family: $font-primary;
    font-size: 2.4rem;
    margin-left: 2rem;
}

ul {
    width: 100%;
   
}

ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5rem 0;
    margin: 0 3rem;
   
}

.menu-list {
    float: right;

    @include respond(phone) {
        float: none;
    }
}

.menu-item a {
    color: $color-white;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: $font-primary;
}

/* Mobile navigantion*/
.toggle {
  width: 100%;
  padding: 2rem 2rem;
  text-align: right;
  box-sizing: border-box;
  display: none;
}

.toggle a {
  text-decoration: none;
  color: $color-gold;
  font-size: 4rem;
 
}
 
@media (max-width: 600px) {
    .toggle {
      display: block;
    }

    ul {
        display: none;
    }

    ul.menu li {
      display: block;
      text-align: center;
      float: none;
      background-color: $color-header;
      padding: 2rem;
      margin: 0 auto;
    }
    
    ul.section-menu li {
        display: block;
        text-align: center;
        float: none;
        background-color: $color-white;
        padding: 2rem;
        color: $color-black;
        margin: 0 auto;
    }

    .active {
      display: block;
    }

}