.logo {
    position: fixed;
    float: left;
    margin: 16px 36px;
    overflow: hidden;
    height: 8rem;
    width: 8rem;
    img {
        width: 100%;
        height: auto;

    }
}

nav {
    height: 10rem;
    width: 100%;
    position: fixed;
    z-index: 5;
    transition: 1s;
}

.menu.black {
    height: 10rem;
    width: 100%;
    background-color: #000;
    opacity: .85;
    color: $color-navigation;
    z-index: 5;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

nav li {
    display: inline-block;
    margin: 2.5rem 3.5rem ;
    padding: 2rem 0;
}

nav a {
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    color: $color-navigation;
    font-family: $font-primary;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
}

nav a#toggle-btn {
    display: none;
}

@media screen and (max-width: 600px) {

    .menu.black {
        background: #282627;
        opacity: 1;
        color: $color-navigation;
        z-index: 5;
        box-shadow:none;
        height: 0;
    }

    .logo {
        display: none;
    }
    .logo-mobile {
        width: 6rem;
        height: 6rem;
    }
    nav {
        height: auto;
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
        z-index: 5;
        margin: 1rem 3.5rem ;
        padding: 1rem 0;
    }

    nav a {
            text-align: left;
            width: 100%;
            text-indent: 20px;
            color: #8D8273;
    }

    nav a:hover {
            color: #6C6C6C;
    }

    nav a#toggle-btn:after {
            content: "|||";
            transform: rotate(-90deg);
            width: 40px;
            height: 40px;
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 15px;
    }

    nav a#toggle-btn {
            display: block;
            background: #282627;
            color: #8D8273;
            width: 100%;
            position: relative;
            font-size: 2rem;
    }

    .menu:before, .menu:after {
            content: "";
            display: table;
    }

    .menu:after {
            clear: both;
    }

    .menu {
            zoom: 1;
            background: #282627;
    }
}