.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.search-wrapper {
    margin-top: 3rem;
    float: right;
    width: 100%;
}

input.search-input {
    height: 4rem;
    width: 85%;
    font-size: 1.6rem;

    @include respond(tab-land) {
        width: 80%;
        
    }

    @include respond(tab-port) {
        width: 80%;
        
    }

    @include respond(phone) {
        width: 91%;
        
    }
}

input.search-input::placeholder {
    padding-left: 1rem;
    font-size: 1.6rem;
    
}

input.subscribe {
    height: 4rem;
    width: 80%;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[type="email"] {

    @include respond(tab-port) {
        margin-right: 0;
    }
    @include respond(phone) {
        margin-right: 0;
    }
}