.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.search-wrapper {
    margin-top: 3rem;
    width: 100%;
}

input[type="text"] {
    height: 4rem;
    width: 85%;
    font-size: 1.6rem;

    @include respond(tab-land) {
        width: 80%;
        
    }

    @include respond(tab-port) {
        width: 80%;
        
    }

    @include respond(phone) {
        width: 91%;
        
    }
}

input[type="text"]::placeholder {
    padding-left: 2rem;
    font-size: 1.6rem;
}

input[type="text"] {
    height: 4rem;
    width: 85%;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

input[type="email"] {
    height: 4rem;
    width: 85%;
    padding-left: 2rem;
    font-size: 1.6rem;

}