.payment {
    list-style: none;
    margin-right: 9rem;
    float: right;
    padding-top: 1rem;
}

.payment-method {
    display: inline-block;  
    margin: 5px;
    opacity: 0.7;
    transition: all .2s;
    
    &:hover {
        opacity: 1;
    }
}

.payment-method img {
   width: 4.8rem;
   height: 3.7rem;
    
}

.social-list {
    list-style: none;
}

.social-item  {
    display: inline-block;
   

    & img {
        width: 4.4rem;
        height: 4.4rem;
        margin: 0 .5rem;
    }

    @include respond(tab-port) {
        width: 4rem;
        height: 4rem;
        margin: .5rem 1rem;
    }
    @include respond(phone) {
        width: 3rem;
        height: 3rem;
        margin: .5rem 1rem;
    }
}



.contact-list {
    list-style: none;
    text-align: center;
}

.contact-item {
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 1.2rem;
}


.link a {
    text-decoration: none;
    color: #bbb;
    padding: 8px 5px;
    text-align: left;
}

.usefull-links {
    list-style: none;
    text-align: left;
    font-size: 1.5rem;

    & li {
        padding: .7rem 0;
    }
}

.ul-title {
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;  
}


/* card hover */
.hover-list {
    text-decoration: none;
    list-style: none;
    opacity: 0;
}

.hover-item {
    display: inline-block;
    margin: 1rem;
}

.item-link {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: 1.5rem;
    border: 1px solid #e5e5e5;
    text-align:center;
    vertical-align:middle;
    color: #000;
    margin: 0;
    background-color: #fff;
    transition: all .5s ease;

    &:hover {
        color: #fff;
        background-color: hotpink;
        border: 1px solid hotpink;
        
    }
}

.blog-list {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    list-style: none;  
}

.blog-list li {
    display:  inline-block;
    margin: 1rem;
}

.blog-list li i {
    margin-right: .5rem;
}