.modal-body {
    height: 400px;
    width: 700px;
    margin: 20vh auto;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../img/modal.jpeg);
    border-radius: 4px;
}

h3.popup-title {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-top: 60px;
    margin-left: 3rem;
    
}

.popup-text {
    color: #fff;
    font-size: 14px;
    padding: 20px 0;
    margin-left: 3rem;
}


.modal-body input {
    height: 4rem;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.modal-body input::placeholder {
    font-size: 1.4rem;
}

