.map-small {
    display: none;

    @include respond(phone) {
        display: block;
        padding-left: 5rem;
    }
}

.map-big {
    display: block;

    @include respond(phone) {
        display: none;

    }
}