.slider {
    height: 50rem;
    width: 100%;
    margin-top: 12rem;
}

.slide {
    height: 50rem;
    width: 100%;
}

.slide img {
    height: 50rem;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.brand-slider {
    padding: 3rem;
    width: 99%;
    height: 10rem;
    margin: 3rem 0;
}

.brand img {
    height: 8rem;
    width: 70%;
    padding: 1rem;
    background-position: center;
    background-size: cover;
}

.brand {
    padding: 1rem;
}

img.resize {
    height: 45%;
    width: 45%;
}

.slider-prostowniki {
    height: 100%;
    width: 100%;
    margin-top: 5rem;
}

.prostownik {
    height: 100%;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.img-wrapper img {
    height: 35rem;
    width: 35rem;
}

