.slider {
    height: 40rem;
    width: 100%;
    
}

.slide {
    position: relative;
}

.slider-img img {
    height: 40rem;
    width: 100%; 
    filter: brightness(70%);
}

.slider-img__small img {
    height: 40rem;
    width: 100%;
}

.slider-fade {
    height: 40rem;
    width: 100%;
}
