.box-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.article-name {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.box.small {
    width: 55rem;
    height: 50rem;
}

.box.small img {
    width: 80%;
    height: 80%;
}

.offer-wrapper {

}