.box-wrapper {
    height: 50rem;
    width: 100%;
}


.article-name {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
}

.box.small {
    width: 55rem;
    height: 50rem;
}

.box.small img {
    width: 80%;
    height: 80%;
}
