.container-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 2rem;
}

.box img {
    width: 60%;
    height: 60%;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

