.navigation {
    width: 100%;
    height: 14rem;
    background-color: rgb(255, 255, 255);
    transition: all .4s;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.navigation.black {
    height: 10rem;
    border-bottom: 1px solid #333;
}

.nav-list  {
    list-style-type: none;
    text-align: center;
    float: right;
    margin-top: 5rem;
    transition: all .4s;
}

.navigation.black .nav-list {
    margin-top: 3rem;
    transition: all .4s;
}

.nav-item a.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 1.8rem;
}

a.link {
    text-decoration: none;
    color: #000;
    transition: all .4s;
    padding: 6rem 5rem;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

/* Mobile navigantion*/
.toggle {
    width: 100%;
    padding: 2rem 2rem;
    text-align: right;
    box-sizing: border-box;
    display: none;
}

.toggle a {
    text-decoration: none;
    color: #000;
    font-size: 4rem;

}

@media (max-width: 600px) {

    .toggle {
        display: block;
    }

    .nav-list li {
        display: block;
        text-align: center;
        float: none;
        padding: 2rem;
        margin: 0 auto;
        color: #000;
    }
    .nav-list {
        background-color: #fff;
    }

    .active {
        display: block;
    }
    .nav-item a {
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        transition: .5s;

        &:hover {
            background-color: #fff;
            color: #000;
        }
    }

    .navigation.black {
        background-color: rgba(0, 0, 0, 1);
        height: 10rem;
    }

}