// FOOTER
.footer {
    background-color: var(--color-footer);
    border-top: 4px solid var(--color-border);
    font-family: var(--font-secondary);
}

.footer-inner {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr repeat(5, 16rem) 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;

    @include respond(tab-port) {
        grid-template-columns: 1fr repeat(3, 20rem) 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    @include respond(phone) {
        grid-template-columns: 1fr repeat(2, 20rem) 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

.top-locations {
    grid-column: 2 / 3;

    @include respond(tab-port) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    @include respond(phone) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.contact {
    grid-column: 6 / 8;

    @include respond(tab-port) {
       grid-column: 4 / 5;
       grid-row:  1 / 2;
    }

    @include respond(phone) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;

    }

}

.featured-boats {
    grid-column: 3 / 4;

    @include respond(tab-port) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    @include respond(phone) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;

    }
}

.newsletter {
    grid-column: 4 / 6;

    @include respond(tab-port) {
        grid-column: 2 / 5;
        grid-row: 2 / 3;
    }

    @include respond(phone) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

}

.top-locations h4,
.featured-boats h4,
.newsletter h4,
.contact h4 {
    font-size: 1.2rem;
    color: var(--color-white);
    text-align: left;


}

.newsletter h4 {

    @include respond(tab-port) {
        text-align: center;
    }

    @include respond(phone) {
        text-align: center;
    }
}