/* Color Variables */
$color-bg: #f8f8f8;
$colorPink: #FF69B4;
$color-white: #fff;
$color-black: #000;
$color-border-light: #e5e5e5;

/* Font Variables */





*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
  
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;   // 1rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%; // 1rem = 8px
    }

    @include respond(big-desktop) {
        font-size: 75%;   // 1rem  = 12px
    }

}

body {
    background-color: $color-bg;
    
}

