/* Color Variables */
/* Font Variables */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  background-color: #f8f8f8; }

.line-1 {
  height: 2px;
  width: 220px;
  background-color: #fff; }

.line-2 {
  height: 2px;
  width: 100px;
  background-color: #fff; }

.line-3 {
  height: 2px;
  width: 270px;
  background-color: #fff; }

.horizontal-line {
  height: 1px;
  width: 100px;
  background-color: #fff;
  margin: 0 auto; }

i .fa {
  font-size: 2rem; }

.fa-plane,
.fa-headphones,
.fa-thumbs-up,
.fa-tag {
  color: #000;
  padding-right: 1rem; }

.fa-star-o {
  background-color: #fff;
  color: #000; }

.fa-angle-right,
.fa-envelope {
  color: #fff; }

/* big slider overlay */
.upper-text {
  text-transform: uppercase;
  width: 96.66666666666666%;
  color: #fff;
  right: auto;
  font-size: 2rem; }

.main-text {
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem; }

.lower-text {
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
  font-size: 1.6rem; }

/* grid text overlayed */
.grid-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2.4rem;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem; }

.grid-text p {
  color: #fff;
  text-align: center;
  margin: 2rem 4rem;
  font-size: 1.6rem; }

/* features section */
.header-secondary {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
  font-size: 2rem; }

a.section-link {
  text-decoration: none;
  cursor: pointer;
  color: #999;
  font-weight: 700;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  font-size: 1.6rem;
  transition: all .3s; }
  a.section-link:hover {
    color: hotpink; }

/* footer section */
.header-footer {
  text-align: center;
  text-transform: uppercase;
  padding-top: 3rem;
  font-size: 4rem; }

.subscribe {
  color: #bbb;
  margin: 1rem 0;
  font-size: 1.2rem; }

/* left slider overlay */
.product-title {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  text-align: center; }
  .product-title:hover {
    color: hotpink; }

.price {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center; }

.hover-effect {
  position: absolute;
  top: 40%;
  left: 14%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  @media only screen and (max-width: 56.25em) {
    .hover-effect {
      top: 35%;
      left: 22%; } }
  @media only screen and (max-width: 37.5em) {
    .hover-effect {
      top: 35%;
      left: 23%; } }

.slide-wrapper:hover .slide-img-left {
  opacity: 0.5;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); }

.slide-wrapper:hover .hover-list {
  opacity: 1; }

.flex-item:hover .hover-list {
  opacity: 1; }

.flex-item:hover .item-img {
  opacity: 0.5;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); }

.flex-item-sellers:hover .hover-list {
  opacity: 1; }

.flex-item-sellers:hover .item-img {
  opacity: 0.5;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05); }

.flex-item-sellers:hover .hover-list {
  opacity: 1; }

.bg-white {
  margin: 0;
  padding: 0; }

.bg-pink {
  background-color: hotpink; }

.header-primary {
  text-align: center;
  text-transform: uppercase;
  margin: 2.5rem 0;
  font-weight: 400;
  font-size: 3.6rem; }

.dropdown-wrapper {
  margin-top: 3rem;
  margin-bottom: 2rem;
  cursor: pointer; }

.helper {
  padding: 2.5rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center; }

.footer-top {
  border-top: 1px solid #b5b2b2;
  background-color: #ddd;
  height: 20rem; }

.footer-inner {
  background-color: #1e1e1e; }

.footer-bottom {
  background-color: #000;
  height: 7rem; }

.footer-bottom__left {
  float: left;
  padding-top: 2rem;
  padding-left: 3rem;
  font-size: 1.4rem;
  color: #555; }
  @media only screen and (max-width: 37.5em) {
    .footer-bottom__left {
      display: none; } }

.nav-item a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  opacity: .7;
  font-size: 1.4rem;
  font-weight: 700;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .nav-item a:hover {
    opacity: 1; }

.nav-item {
  padding: 1rem 2rem; }

.navbar {
  border-radius: 4px; }

.navbar ul {
  margin-left: 5rem; }

/* Top left slider */
.slider-left {
  width: 100%;
  height: 48rem;
  background-color: #fff;
  border: 1px solid #e5e5e5; }
  @media only screen and (max-width: 56.25em) {
    .slider-left {
      width: 100%; } }
  @media (max-width: 760px) {
    .slider-left {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    .slider-left {
      width: 70%; } }

.slide-wrapper {
  text-align: center;
  position: relative;
  height: 100%;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.slide-img-left {
  width: 100%;
  height: 250px;
  padding-top: 25px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  @media only screen and (max-width: 56.25em) {
    .slide-img-left {
      padding-top: 15px;
      height: 220px; } }
  @media only screen and (max-width: 37.5em) {
    .slide-img-left {
      padding-top: 10px;
      height: 200px; } }

.stars-list {
  list-style: none;
  padding-top: 5px;
  text-align: center; }

.star {
  display: inline-block; }

.discount {
  background-color: #ce0909;
  color: #fff;
  padding: 1rem 0;
  font-size: 1.2rem; }

/* Big slider */
.slider-big {
  width: 100%;
  height: 48rem;
  border: 1px solid #e5e5e5; }

.slide {
  position: relative; }

.slide img {
  height: 48rem;
  -webkit-filter: brightness(90%);
          filter: brightness(90%); }

.carousel-text {
  position: absolute;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%; }

.slider-sellers {
  height: 42rem;
  background-color: #f8f8f8; }

.slide-sellers {
  background-color: #fff;
  margin: 0 .5rem;
  height: 42rem;
  border: 1px solid #e5e5e5; }
  .slide-sellers:last-of-type {
    margin: 0; }

.flex-item-sellers {
  position: relative;
  height: 100%; }

.flex-item-sellers img {
  padding: 1rem; }

/* slider 3/4 right */
.slider-right {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: 45rem;
  margin-top: 4rem; }

/* slider bottom */
.slider-bottom {
  background-color: #fff;
  height: 12rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  margin: 3rem 0;
  overflow: hidden; }

.slide-bottom img {
  width: auto;
  height: 8rem;
  padding: 1rem; }

.slider-bottom-wrapper {
  padding: 1.5rem; }

.slide-bottom {
  vertical-align: middle; }

@media (max-width: 992px) {
  img.item-img {
    width: 95%; } }

@media only screen and (max-width: 56.25em) {
  img.item-img {
    width: 70%; } }

@media only screen and (max-width: 37.5em) {
  img.item-img {
    width: 80%;
    height: 25rem; } }

/* testimonials section */
.testimonial-slider {
  background-color: #fff;
  border: 1px solid #e5e5e5;
  height: 30rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.img-wrapper img {
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  overflow: hidden; }

.img-wrapper {
  padding: 3rem 0;
  width: 15rem;
  height: 15rem;
  margin: 0 auto; }

.slide-testimonial {
  text-align: center; }

.testimonial-heading {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 600;
  color: rgba(253, 194, 0, 0.945); }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 26rem 26rem;
  margin-top: 4rem; }
  @media only screen and (max-width: 56.25em) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 26rem); } }
  @media only screen and (max-width: 37.5em) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 26rem); } }

.grid-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .grid-item-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; } }
  @media only screen and (max-width: 37.5em) {
    .grid-item-1 {
      grid-column: 1 / 2;
      grid-row: 1 / 2; } }

.grid-item-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  height: 26rem;
  background-color: #f9b5ce; }
  @media only screen and (max-width: 56.25em) {
    .grid-item-2 {
      grid-column: 2 / 3;
      grid-row: 1 / 2; } }
  @media only screen and (max-width: 37.5em) {
    .grid-item-2 {
      grid-column: 1 / 2;
      grid-row: 2 / 3; } }

.grid-item-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .grid-item-3 {
      grid-column: 1 / 2;
      grid-row: 2 / 3; } }
  @media only screen and (max-width: 37.5em) {
    .grid-item-3 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; } }

.grid-item-4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #f29f93; }
  @media only screen and (max-width: 56.25em) {
    .grid-item-4 {
      grid-column: 2 / 3;
      grid-row: 2 / 3; } }
  @media only screen and (max-width: 37.5em) {
    .grid-item-4 {
      grid-column: 1 / 2;
      grid-row: 4 / 5; } }

.grid-item-5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .grid-item-5 {
      grid-column: 1 / 2;
      grid-row: 3 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .grid-item-5 {
      grid-column: 1 / 2;
      grid-row: 5 / 6; } }

.grid-item-6 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #e9d365; }
  @media only screen and (max-width: 56.25em) {
    .grid-item-6 {
      grid-column: 2 / 3;
      grid-row: 3 / 4; } }
  @media only screen and (max-width: 37.5em) {
    .grid-item-6 {
      grid-column: 1 / 2;
      grid-row: 6 / 7; } }

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .flexbox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; } }
  @media only screen and (max-width: 37.5em) {
    .flexbox {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -ms-flex-line-pack: justify;
          align-content: space-between; } }

.flex-item {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  height: 40rem;
  width: 24%;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .flex-item {
      -ms-flex-item-align: center;
          align-self: center;
      width: 50%;
      text-align: center; } }
  @media only screen and (max-width: 37.5em) {
    .flex-item {
      -ms-flex-item-align: center;
          align-self: center;
      width: 70%;
      text-align: center; } }

.item-img {
  width: 24rem;
  height: 24rem;
  padding: 1rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  @media only screen and (max-width: 56.25em) {
    .item-img {
      width: 20rem;
      height: 20rem; } }
  @media only screen and (max-width: 37.5em) {
    .item-img {
      width: 16rem;
      height: 16rem; } }

.banner {
  overflow: hidden;
  width: 32%;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .banner {
      width: 90%;
      -ms-flex-item-align: center;
          align-self: center; } }
  @media only screen and (max-width: 37.5em) {
    .banner {
      width: 90%;
      -ms-flex-item-align: center;
          align-self: center; } }

.banner > img {
  height: 100%;
  width: 100%;
  background-position: top; }
  @media only screen and (max-width: 56.25em) {
    .banner > img {
      background-position: center; } }
  @media only screen and (max-width: 37.5em) {
    .banner > img {
      background-position: center; } }

.banner-photo {
  overflow: hidden;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

.banner:hover .banner-photo {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.banner-text {
  position: absolute;
  top: 30%;
  left: 15%;
  text-align: left;
  color: #fff;
  font-family: 'Poppins', sans-serif; }

.banner-text span {
  letter-spacing: 2px;
  font-size: 1.4rem; }

.banner-text h3 {
  padding-top: 2rem;
  letter-spacing: 5px;
  font-size: 1.8rem;
  font-weight: 600; }

.flex-item-sellers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .flex-item-sellers {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media only screen and (max-width: 37.5em) {
    .flex-item-sellers {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

a.cart {
  padding: 7px 0;
  border: 1px solid #e5e5e5;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  background-color: #fff; }

span.cart-description {
  color: #000;
  font-weight: 700;
  font-size: 1.4rem;
  padding-left: .5rem;
  padding-top: .2rem;
  padding-right: .5rem; }
  @media only screen and (max-width: 37.5em) {
    span.cart-description {
      padding-top: 0;
      font-size: 9px; } }

span.pink {
  background-color: hotpink;
  padding-top: 1.2rem !important;
  padding: 1rem;
  color: #fff; }

.dropdown-toggle::after {
  display: none; }

.btn-pink {
  background-color: hotpink;
  padding-top: 1.3rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700; }

.action {
  text-align: center;
  margin: 1rem 0;
  padding: 2rem 0; }
  .action a.btn-cart {
    padding: 7px 10px;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    color: #999;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer; }
    .action a.btn-cart:hover {
      background-color: hotpink;
      color: #fff; }

.action a.btn-products {
  margin-top: 6rem;
  margin-left: -12rem;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  color: #999;
  padding: 7px 10px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .action a.btn-products:hover {
    background-color: #ff69b4;
    border: 1px solid #ff69b4;
    color: #fff;
    cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .action a.btn-products {
      display: none; } }
  @media (max-width: 990px) {
    .action a.btn-products {
      margin-left: 0; } }
  @media only screen and (max-width: 37.5em) {
    .action a.btn-products {
      margin-top: 0;
      margin-left: -35rem; } }

a.go-to-blog {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #000;
  padding: 25px 15px;
  margin-bottom: 1rem; }
  a.go-to-blog:hover {
    color: deeppink;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

.payment {
  list-style: none;
  margin-right: 9rem;
  float: right;
  padding-top: 1rem; }

.payment-method {
  display: inline-block;
  margin: 5px;
  opacity: 0.7;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .payment-method:hover {
    opacity: 1; }

.payment-method img {
  width: 4.8rem;
  height: 3.7rem; }

.social-list {
  list-style: none; }

.social-item {
  display: inline-block; }
  .social-item img {
    width: 4.4rem;
    height: 4.4rem;
    margin: 0 .5rem; }
  @media only screen and (max-width: 56.25em) {
    .social-item {
      width: 4rem;
      height: 4rem;
      margin: .5rem 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .social-item {
      width: 3rem;
      height: 3rem;
      margin: .5rem 1rem; } }

.contact-list {
  list-style: none;
  text-align: center; }

.contact-item {
  display: inline-block;
  padding: 2rem 3rem;
  font-size: 1.2rem; }

.link a {
  text-decoration: none;
  color: #bbb;
  padding: 8px 5px;
  text-align: left; }

.usefull-links {
  list-style: none;
  text-align: left;
  font-size: 1.5rem; }
  .usefull-links li {
    padding: .7rem 0; }

.ul-title {
  color: #fff;
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 1.6rem;
  font-weight: 400; }

/* card hover */
.hover-list {
  text-decoration: none;
  list-style: none;
  opacity: 0; }

.hover-item {
  display: inline-block;
  margin: 1rem; }

.item-link {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 1.5rem;
  border: 1px solid #e5e5e5;
  text-align: center;
  vertical-align: middle;
  color: #000;
  margin: 0;
  background-color: #fff;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .item-link:hover {
    color: #fff;
    background-color: hotpink;
    border: 1px solid hotpink; }

.blog-list {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  list-style: none; }

.blog-list li {
  display: inline-block;
  margin: 1rem; }

.blog-list li i {
  margin-right: .5rem; }

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.search-wrapper {
  margin-top: 3rem;
  float: right;
  width: 100%; }

input.search-input {
  height: 4rem;
  width: 85%;
  font-size: 1.6rem; }
  @media only screen and (max-width: 75em) {
    input.search-input {
      width: 80%; } }
  @media only screen and (max-width: 56.25em) {
    input.search-input {
      width: 80%; } }
  @media only screen and (max-width: 37.5em) {
    input.search-input {
      width: 91%; } }

input.search-input::-webkit-input-placeholder {
  padding-left: 1rem;
  font-size: 1.6rem; }

input.search-input::-ms-input-placeholder {
  padding-left: 1rem;
  font-size: 1.6rem; }

input.search-input::placeholder {
  padding-left: 1rem;
  font-size: 1.6rem; }

input.subscribe {
  height: 4rem;
  width: 80%; }

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

@media only screen and (max-width: 56.25em) {
  input[type="email"] {
    margin-right: 0; } }

@media only screen and (max-width: 37.5em) {
  input[type="email"] {
    margin-right: 0; } }

.image-wrapper {
  height: 45rem;
  width: 27rem;
  overflow: hidden;
  margin-top: 4rem; }

.image-wrapper img {
  height: 100%;
  width: 100%;
  -webkit-filter: brightness(70%);
          filter: brightness(70%); }

.description-wrapper {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 10%;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .description-wrapper {
      top: 20%; } }
  @media only screen and (max-width: 37.5em) {
    .description-wrapper {
      top: 20%;
      width: 80%; } }

.description-name {
  color: #fff;
  text-align: left;
  margin-left: 2rem;
  line-height: 1.5;
  font-size: 1.6rem; }
  @media only screen and (max-width: 56.25em) {
    .description-name {
      width: 50%;
      margin-left: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .description-name {
      width: 40%;
      margin-left: 0; } }

.text-overlayed {
  color: #ece7e7;
  line-height: 1.5;
  width: 80%;
  text-align: left;
  margin-left: 2rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
  padding-top: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .text-overlayed {
      width: 70%;
      margin-left: 1rem; } }
  @media (max-width: 768px) {
    .text-overlayed {
      width: 30%; } }
  @media only screen and (max-width: 37.5em) {
    .text-overlayed {
      width: 40%;
      margin-left: 0; } }

.blog-entry {
  border: 1px solid #e5e5e5;
  background-color: #fff;
  overflow: hidden;
  font-size: 1.6rem; }

.blog-entry__title {
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 10px; }

.blog-text {
  margin-left: 15px;
  margin-top: 20px; }
