.footer-top {
    border-top: 1px solid #b5b2b2;
    background-color: #ddd;
    height: 20rem;
}

.footer-inner {
    background-color: #1e1e1e;
}

.footer-bottom {
    background-color: #000;
    height: 7rem;
}

.footer-bottom__left {
    float: left;
    padding-top: 2rem;
    padding-left: 3rem;
    font-size: 1.4rem;
    color: #555;

    @include respond(phone) {
       display: none;
    }

}