.bg-white {
    margin: 0;
    padding: 0;
}

.bg-pink {
    background-color: hotpink;
}

.header-primary {
    text-align: center;
    text-transform: uppercase;
    margin: 2.5rem 0;
    font-weight: 400;
    font-size: 3.6rem;
}

.dropdown-wrapper {
    margin-top: 3rem;
    margin-bottom: 2rem;
    cursor: pointer;

    @include respond(tab-port) {
        margin-left: 25%;
     }

    @include respond(phone) {
       margin-left: 25%;
    }

}

.dropdown {
    height: 4rem;
    width: 25rem;

}

.helper {
    padding: 2.5rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
