.footer {
    width: 100%;
    height: auto;
    background-color: #000;
    margin-top: 3rem;
    clear: both;

    @include respond(tab-port) {
       clear: none;
    }

    @include respond(phone) {
        clear: none;
    }
}

.footer-inner {
    color: #fff;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 2rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}